<div class='row'>
  <div class='small-10 medium-4 small-centered text-center columns venue-label'>
    <h1>Our Venues!</h1>
  </div>
</div>


<div class="row">
  <% @venues.each do |venue| %>
    <% if venue == @venues.last %>
      <div class="small-10 medium-5 large-3 columns venue-box end">
      <%= link_to venue.name, venue_path(venue) %><br/>
      </div>
    <% else %>
      <div class="small-10 medium-5 large-3 columns venue-box">
      <%= link_to venue.name, venue_path(venue) %><br/>
      </div>
    <% end %>
  <% end %>

  <% if @venues.blank? %>
  <h4>No Results for: <%= params[:search] %>.</h4>
  <% end %>
</div>


<br />

<div class='add-venue'>
  <%= link_to "Add a New Venue", new_venue_path, class: 'button' %>
</div>
