<h1>Our Venues!</h1>

<% @venues.each do |venue| %>
  <p>- <%= link_to venue.name, venue_path(venue) %><br/></p>
<% end %>

<% if @venues.blank? %>
  <h4>No Results for: <%= params[:search] %>.</h4>
<% end %>

<br />

<%= link_to "Add a Venue", new_venue_path %>
