@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
$white: #ffffff;
$black: #000000;

body {
  background: image-url("landing_background.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: $white;
  font-family: "Open Sans", sans-serif;
  vertical-align: middle;
}

nav {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, fantasy
}

.input-group-rounded .input-group-field {
  border-bottom-left-radius: 5000px;
  border-top-left-radius: 5000px;
  margin-bottom: -18px;
  padding-left: 1rem;
}

.input-group-button .button {
  border-bottom-right-radius: 5000px;
  border-top-right-radius: 5000px;
  font-size: 0.8rem;
  margin-bottom: -18px;
}

.sign-up {
  position: absolute;
  margin: auto;
}

.sign-up li {
  position: relative;
  margin-top: 2rem;
}

label {
  color: $white;
}

#create_venue {
  color: $black;
}

input {
  color: $white;
}
