@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans");
$white: #ffffff;
$black: #000000;

body {
  background: image-url("landing_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: "Open Sans", sans-serif;
  color: $white;
  vertical-align: middle
}

nav {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, fantasy
}

.input-group-rounded .input-group-field {
  border-radius: 5000px 0px 0px 5000px;
  margin-bottom: -18px;
  padding-left: 1rem;
}

.input-group-button .button {
  border-radius:  0px 5000px 5000px 0px;
  font-size: 0.8rem;
  margin-bottom: -18px;
}

.sign-up {
  position: absolute;
  margin: auto;
}

.sign-up li {
  position: relative;
  margin-top: 2rem;
}

label {
  color: $white;
}

#create_venue {
  color: $black;
}

input {
  color: $white;
}
