@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
$white: #ffffff;
$black: #000000;
$venue_form_background_color: rgba(60, 12, 55, 0.61);
$input_background_color: rgba(255, 255, 255, 0.54);
$low_opacity_white: rgba(255, 255, 255, 0.22);
$text-shadow: 2px 2px 10px #000;

body {
   background: image-url('landing_background.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-backgrond-size: cover;
   background-size: cover;

   font-family: "Open Sans", sans-serif;
   color: white;
   vertical-align: middle
}

nav {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, fantasy
}

.input-group-rounded .input-group-field {
    border-radius: 5000px 0 0 5000px;
    padding-left: 1rem;
    margin-bottom: -18px;
}

.input-group-button .button {
    border-radius:  0 5000px 5000px 0;
    font-size: 0.8rem;
    margin-bottom: -18px;
}

.sign-up {
  position: absolute;
  margin: auto;
}

.sign-up li {
  position: relative;
  margin-top: 2rem;
}

.new_venue_header {
  text-align: center;
  text-shadow: $text-shadow;
}

label {
  color: $white;
  text-shadow: $text-shadow;
}

input {
  color: $white;
}

.form_box {
  border: solid 2px white;
  width: 50%;
  margin: 2% 25%;
  padding: 2em;
  background-color: $venue_form_background_color;
  border-radius: 6px;
  border-color: $low_opacity_white;
  input {
    background-color: $input_background_color;
    border-radius: 5px;
    border-color: $low_opacity_white;
  }
  select {
    background-color: $input_background_color;
    border-radius: 5px;
    border-color: $low_opacity_white;
  }
  .submit_container {
    text-align: center;
  }

  #create_venue {
    color: $black;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    text-shadow: $text-shadow;
  }
  .error {
    font-size: .8em;
    text-shadow: $text-shadow;
  }
}

/* Styling for Search Button Starts Here */
input[type=text].searchBar {
    width: 5em;
    padding: 15px;
    color: black;
    font-size: 1em;
    border-radius: 50px;
    border: none;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    background: white;
}

input[type=text].searchBar:focus {
    width: 165px;
    outline: none;
    background: #fff;
    border:1px solid #999;
    color:black;
    background: white;
}
/* Search Bar Styling Ends ^^ */
