$white: #ffffff;
$black: #000000;
$grey-shadow: #999;
$venue-form-background-color: rgba(63, 72, 84, 1);
$input-background-color: rgba(255, 255, 255, 0.54);
$low-opacity-white: rgba(255, 255, 255, 0.22);
$text-shadow: 2px 2px 10px $black;




// Styling for Search Button Starts Here //
.search-bar {
  background: $white;
  border: 0;
  border-radius: 50px;
  color: $black;
  font-size: 1em;
  padding: 15px;
  -moz-transition: all ease-in-out 0.3s;
  -webkit-transition: all ease-in-out 0.3s;
  width: 5em;
}

.search-bar:focus {
  background: $white;
  border: 1px solid $grey-shadow;
  color: $black;
  outline: none;
  width: 165px;
}
// Search Bar Styling Ends ^^ //
