@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import "venue_form";
@import "nav_search_bar";

$white: #ffffff;
$black: #000000;
$grey-shadow: #999;
$venue-form-background-color: rgba(63, 72, 84, 1);
$input-background-color: rgba(255, 255, 255, 0.54);
$low-opacity-white: rgba(255, 255, 255, 0.22);
$text-shadow: 2px 2px 10px $black;

.showpage {

  .showpage-venue-name {
    margin: auto;
    text-align: center;
    padding: 1%;
    font-size: 5em;
    text-shadow: $text-shadow;
  }
  .showpage-link {
    font-size: 1.5em;
    text-align: center;
  }
  // .venue-address-box {
  //   text-align: center;
  // }

  .venue-details {
    justify-content: center;
  }
}

#map-container {
  background-color: grey;
  margin: auto;
  padding: 1%;
  height: 350px;
}
