$white: #ffffff;
$black: #000000;
$grey-shadow: #999;
$form-box-grey-shadow: #2d2d2d;
$venue-form-background-color: rgba(137, 157, 173, 0.7);
$input-background-color: rgba(255, 255, 255, 0.54);
$low-opacity-white: rgba(255, 255, 255, 0.22);
$text-shadow: 2px 2px 10px $black;

.form-box {
  background-color: $venue-form-background-color;
  border: solid 2px;
  border-color: $low-opacity-white;
  border-radius: 6px;
  box-shadow: 5px 5px 15px $form-box-grey-shadow;
  margin: 2% 25%;
  padding: 2em;
  width: 50%;

  label {
    color: $white;
    float: left;
    text-shadow: $text-shadow;
    vertical-align: center;
  }

  input {
    background-color: $input-background-color;
    border-color: $low-opacity-white;
    border-radius: 5px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: 0;
    width: 75%;
  }

  select {
    background-color: $input-background-color;
    border-color: $low-opacity-white;
    border-radius: 5px;
    float: right;
    width: 75%;
  }

  input[type='radio'] {
    width: 3em;
  }

  .submit-container {
    text-align: center;
  }

  #create-venue {
    color: $black;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    text-shadow: $text-shadow;
  }
  .error {
    font-size: .8em;
    text-shadow: $text-shadow;
  }
}

select#venue-state {;
  bottom: 2px;
}
