$white: #ffffff;
$black: #000000;
$grey-shadow: #999;
$venue_form_background_color: rgba(63, 72, 84, 1);
$input_background_color: rgba(255, 255, 255, 0.54);
$low_opacity_white: rgba(255, 255, 255, 0.22);
$text-shadow: 2px 2px 10px #000;




.form_box {
  border: solid 2px $white;
  width: 50%;
  margin: 2% 25%;
  padding: 2em;
  background-color: $venue_form_background_color;
  border-radius: 6px;
  border-color: $low_opacity_white;
  box-shadow: 5px 5px 15px #2d2d2d;
  input {
    background-color: $input_background_color;
    border-radius: 5px;
    border-color: $low_opacity_white;
  }

  select {
    background-color: $input_background_color;
    border-radius: 5px;
    border-color: $low_opacity_white;
  }
  .submit_container {
    text-align: center;
  }

  #create_venue {
    color: $black;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    text-shadow: $text-shadow;
  }
  .error {
    font-size: .8em;
    text-shadow: $text-shadow;
  }
}
